.Show-details-td {
    border-radius: 25px;
    background-color: white;
    padding: 20px;
}

.Show-details-td span{
    font-weight: bold;
}

.Show-details-td p{
    margin-top: 2px;
    margin-bottom: 2px;
}